{{~ #*inline "page"}}
<div class="container about">
    <nav class="top-nav">
        <a href="/">
            <img src="/static/img/bible.rs.svg" alt="BIBLE.RS" height="100" width="100" class="logo">
        </a>
    </nav>
    <article>
        <h1>About</h1>
        <p>
            I've often found myself studying the Bible and wanting to simply "find that
            one verse." There are numerous Bible apps and websites that are powerful,
            full-featured, and helpful; yet I seldom need most of these features.
        </p>
        <p>
            I also don't keep any of your personal information. There are no tracking
            cookies or third-party analytic services involved in Carolus, it also never
            calls home.
        </p>
        <h2>Ideas for the Future</h2>
        <ul>
            <li>Add more metadata (book author, year written, etc.).</li>
        </ul>
        <h2>Contributing</h2>
        <ul>
            <li>Have any ideas? <a href="https://github.com/simonhdickson/carolus/issues/new">File an issue</a>.</li>
            <li>Want to venture into the code? Clone the repository from
                <a href="https://github.com/simonhdickson/carolus">Github</a> and create a pull request.
            </li>
        </ul>
    </article>
</div>
{{~ /inline}}
{{~> base ~}}
