{{~ #*inline "page"}}
<div class="container">
    <nav class="top-nav">
        <img src="/static/img/bible.rs.svg" alt="BIBLE.RS" height="100" width="100" class="logo">
    </nav>
    <nav>
        <ol>
            <li>
                <a href="/movies">Movies</a>
            </li>
        </ol>
    </nav>
</div>
{{~ /inline}}
{{~> base ~}}
