{{~ #*inline "page"}}
<div class="container movie">
    <nav class="top-nav">
        <a href="">
            <img src="/static/img/bible.rs.svg" alt="BIBLE.RS" height="100" width="100" class="logo">
        </a>
    </nav>
    <div class="heading">
        <h1>{{movie.title}}</h1>
        <video width="100%" controls>
            <source src="/static/video/demo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> 
    </div>
</div>
{{~ /inline}}
{{~> base}}
