{{~ #*inline "page"}}
<div class="container tv-show">
    <nav class="top-nav">
        <img src="/static/img/carolus.svg" alt="Carolus" height="100" width="100" class="logo">
    </nav>
    <nav>
        <ol>
            {{~ #each tv_show.series as |s|}}
            <li>
                <a href="/tv/{{../tv_show.title}}/{{series_number}}">{{series_number}}</a>
            </li>
            {{~ /each}}
        </ol>
    </nav>
</div>
{{~ /inline}}
{{~> base ~}}
